@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color: #34495e;
    font-size: 58px;
}
h2{
    font: 45px;
    color: #30336b;
}
h3{
    color: #227093;
    font-size: 35px;
}
p{
    color: #2c3e50;
    margin: 30px 0px;
}
img{
    width: 100%;
}
.d-color1{
    color: #0d9757;
}
.d-color2{
    color: #ffd32a;
}
.btn{
    padding: 10px 35px;
    color: white;
    background: #1abc9c;
    text-decoration: none;
    border-radius: 8px;
}
section{
    margin-bottom: 150px;
    margin: 20px 200px;
}
.flex{
    display: flex;
}
.h-width{
    width: 40%;
    margin: 0% 5%;
}
.side-border{
    border-left: 6px solid #34495e;
    padding-left: 15px;
}
.banner-img{
    margin: -100px 0px 0px 120px;
}

