@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    color: #34495e;
    font-size: 58px;
}
h2{
    font-size: 45px;
    color: #30336b;
}
h3{
    color: #227093;
}
p{
    color: #2c3e50;
}
img{
    width: 100%;
}
.d-color1{
    color: #0d9757;
}
.d-color2{
    color: #726a4b;
}
.btn{
    padding: 10px 35px;
    color: white;
    background: #1abc9c;
    text-decoration: none;
    border-radius: 8px;
}
section{
    margin: 60px 200px;
}
.flex{
    display: flex;
}
.h-width{
    width: 40%;
    margin: 0% 5%;
}
.t-center{
    text-align: center;
}
.m-t-40{
    margin-top: 40px;
}
.m-b-40{
    margin-bottom: 40px ;
}
.side-border{
    border-left: 6px solid #34495e;
    padding-left: 15px;
}
.banner-img{
    margin-top: -50px;
}
.card{
    align-items: start;
    padding: 15px;
}
.card .box{
    width: 120px;
    height: 120px;
}
.card .box img{
    width: 100%;
}
.single-card{
    width: 30%;
    padding: 10px 20px;
    border-radius: 10px;
}
.card-margin{
    margin: 0 5%;
}
.card-1{
    background-color: rgba(242, 252, 249, 0.897);
}
.card-2{
    background-color: rgb(222, 231, 229);
}
.card-3{
    background-color:rgb(192, 218, 233) ;
}
.bg-img{
    background:url(../img/pictures/shape-1.png) ;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 150px;
}
.content h3{
    font-size: 30px;
    padding-top: 30px;
}
.content p{
    margin-bottom: 30px;
}

